[program:jaeger_collector]
command=/opt/jaeger/jaeger_collector
directory=/opt/jaeger
environment=SPAN_STORAGE_TYPE=elasticsearch, ES_SERVER_URLS='{{ jaeger_es_urls }}'
user=jaeger

stdout_logfile=/opt/jaeger/logs/jaeger_collector.log
redirect_stderr=true
autostart=true
autorestart=true
