[program:jaeger_agent]
command=/opt/jaeger/jaeger_agent --reporter.tchannel.host-port='{{ jaeger_collector_url }}'
directory=/opt/jaeger
user=jaeger

stdout_logfile=/opt/jaeger/logs/jaeger_agent.log
redirect_stderr=true
autostart=true
autorestart=true
