[program:jaeger_query]
command=/opt/jaeger/jaeger_query --es.server-urls='{{ jaeger_es_urls }}' --span-storage.type=elasticsearch
directory=/opt/jaeger
user=jaeger

stdout_logfile=/opt/jaeger/logs/jaeger_query.log
redirect_stderr=true
autostart=true
autorestart=true
